# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv
venv/
ENV/

# Docker
.dockerignore

# IDE / Editor specific
.vscode/
.idea/

# Secrets
.env
.env.dev
.env.prod